In [1]:
print(" Hello World ")

Hello Jupyter

In [5]:
x="5"
print(x)
print(type(x))

5
<class 'str'>

In [10]:
x='Ghulam Ahmad'
print(x)
print(type(x))

Ghulam Ahmad
<class 'str'>

In [11]:
x= int('78')
print(x)
print(type(x))

78
<class 'int'>

In [12]:
y="78"
print(type(int(y)))
print(type(y))

<class 'int'>
<class 'str'>

In [2]:
# Practicing the Casting of the data types : 

f='9'
print(type(float(f)))
print(float(f))
print(type(int(f)))
print(int(f))
print(type(f))
print(f)
z=100

# Converting the interger into the String : 
print("Converting integer into string ")
print(type(str(z)))
print(str(z))
print(type(z))
print(z)

<class 'float'>
9.0
<class 'int'>
9
<class 'str'>
9
Converting integer into string
<class 'str'>
100
<class 'int'>
100

In [1]:
# Assigning the name  :  there are some rules :
# can't name any variable like this :
'''
[its gives an error]
100nb=89
int = Ghulma Ahmad
%= "Haji"
'''
# python is a case sensitive Languuage : 
y=90
y

90

In [13]:
a,b,c='Ghulam','\nAhmad','\nHell0'
print(a , b , c)

Ghulam
Ahmad
Hell0

In [17]:
# About Strings :
t,y,u=1,3,5
print(t)
print(y)
print(u)

1
3
5

In [25]:
h=v=o ="Ghulam Ahmad"
print(h)
print(v)
print(c)

Ghulam Ahmad
Ghulam Ahmad
Ghulam Ahmad

In [29]:
x=90 # GLobal Variable : 
def func_1():
    print(x)
func_1()
def func_2():
    #Assigning a global variable in the function :
    global y
    y=78
    print(y)
    print("Acessing the Global variable : ")
    return func_1()
func_2()
def func_3(): 
    # calling above two functions in this function : 
    print("Function 1: ")
    func_1()
    print("Function 2  : ")
    func_2()
func_3()

90
78
Acessing the Global variable :
90
Function 1:
90
Function 2  :
78
Acessing the Global variable :
90

In [27]:
# One way is the indexing of aCcessing the element of List  : 
l1=[1,34,"GHulam Ahmad"]
a=l1[0]
b=l1[2]
print(a)
print(b)
print(l1)
print(type(l1))
# other Way is slicing :

1
GHulam Ahmad
[1, 34, 'GHulam Ahmad']
<class 'list'>

In [16]:
# You can also Unpack the List by doing this variable assinging :
l2=['Ali','hassan','ahmad']
a,b,c=l2
print(a,b,c)
# when you do this : 
'''a , b = l2 '''
# this above gives an error because we need variables equal to the number of Elements im Lists :

Ali hassan ahmad

In [24]:
# concatination of  strings : 
o='ali'
p= 'ahmad'
u='ghulam'
print(o,p,u)
print(o+p+u)
y='90'
i='99'
l='78'
print(y+i+l)
# String cannot concatinate with the Number : 
# For Concatination the data type should be same :

ali ahmad ghulam
aliahmadghulam
909978

In [2]:
100mj= "GHul;am "
print(100mj)

SyntaxError: invalid decimal literal (895755121.py, line 1)

In [3]:
a = 4
A = "Sally"
print(a)

4

In [10]:
s,d,f = "Fag" , 56 , 68.99
print(s , d , f) 
print(type(s) , type(d) , type(f))

Fag 56 68.99
<class 'str'> <class 'int'> <class 'float'>

In [19]:
y="Ghulam Ahmad"
def name() :
    global r
    r = "jrdgfyg"
    x=89 # Local 
    print("Hello")
    print(x)
    print(y)
# name()
print(r)
# print(x)

Hello
89
Ghulam Ahmad
jrdgfyg